[package]
name = "blueprint-testing-utils"
version = "0.1.0-alpha.11"
description = "Testing utilities metapackage for Tangle Blueprints"
authors.workspace = true
edition.workspace = true
license.workspace = true
homepage.workspace = true
repository.workspace = true
rust-version.workspace = true

[lints]
workspace = true

[dependencies]
blueprint-core-testing-utils = { workspace = true }
blueprint-anvil-testing-utils = { workspace = true, optional = true }
blueprint-tangle-testing-utils = { workspace = true, optional = true }
blueprint-eigenlayer-testing-utils = { workspace = true, optional = true }

[features]
default = []
anvil = ["blueprint-anvil-testing-utils"]
tangle = ["blueprint-tangle-testing-utils"]
eigenlayer = ["blueprint-eigenlayer-testing-utils"]
