[package]
name = "blueprint-crypto-hashing"
version = "0.1.0-alpha.2"
description = "Hashing primitives for Tangle Blueprints"
authors.workspace = true
edition.workspace = true
license.workspace = true
homepage.workspace = true
repository.workspace = true
rust-version.workspace = true

[dependencies]
blueprint-std = { workspace = true }
sha2 = { workspace = true, optional = true }
sha3 = { workspace = true, optional = true }
blake3 = { workspace = true, optional = true }
workspace-hack = { version = "0.1", path = "../../../workspace-hack" }

[features]
default = ["std", "sha2-hasher", "sha3-hasher", "blake3-hasher"]
std = [
    "blueprint-std/std",
    "sha2?/std",
    "sha3?/std",
    "blake3?/std",
]
sha2-hasher = ["sha2"]
sha3-hasher = ["sha3"]
blake3-hasher = ["blake3"]
