[package]
name = "blueprint-networking-round-based-extension"
version = "0.1.0-alpha.8"
description = "round-based integration for Blueprint SDK networking"
authors.workspace = true
edition.workspace = true
license.workspace = true
homepage.workspace = true
repository.workspace = true
rust-version.workspace = true

[lints]
workspace = true

[dependencies]
blueprint-std = { workspace = true }
blueprint-core = { workspace = true, features = ["tracing"] }
blueprint-crypto = { workspace = true }
blueprint-networking = { workspace = true }
round-based = { workspace = true }
tokio = { workspace = true }
futures = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true, features = ["alloc"] }
tracing = { workspace = true }
dashmap = { workspace = true }
crossbeam = { workspace = true }
crossbeam-channel = { workspace = true }
thiserror = { workspace = true }
libp2p = { workspace = true, features = ["identify"] }

[dev-dependencies]
round-based = { workspace = true, features = ["derive", "sim", "sim-async"] }
libp2p = { workspace = true, features = [
  "tokio",
  "gossipsub",
  "mdns",
  "noise",
  "macros",
  "yamux",
  "tcp",
  "quic",
  "request-response",
  "cbor",
  "identify",
  "kad",
  "dcutr",
  "relay",
  "ping",
  "dns",
  "autonat",
  "upnp",
] }
blueprint-networking = { workspace = true, features = ["testing"] }
blueprint-crypto = { path = "../../../crypto", features = ["sp-core"] }
blueprint-crypto-core = { path = "../../../crypto/core", features = ["tangle"] }
tokio = { workspace = true, features = ["full"] }
tracing-subscriber = { workspace = true }
sha2 = { workspace = true }
rand_dev = "0.1"
rand = { workspace = true }
hex = { workspace = true }
# We don't use it directly, but we need to enable `serde` feature
generic-array = { version = "0.14", features = ["serde"] }

[features]
default = ["std"]
std = ["blueprint-crypto/std", "blueprint-networking/std"]
