[workspace]
resolver = "3"
members = ["incredible-squaring-lib", "incredible-squaring-bin"]

[workspace.package]
version = "0.1.1"
description = "An experimental blueprint"
edition = "2024"
rust-version = "1.88"

[workspace.dependencies]
incredible-squaring-blueprint-lib = { path = "incredible-squaring-lib" }

blueprint-sdk = { version = "0.1.0-alpha.22", path = "../../crates/sdk", default-features = false }
blueprint-anvil-testing-utils = { version = "0.1.0-alpha.21", path = "../../crates/testing-utils/anvil", default-features = false }
blueprint-client-tangle = { version = "0.1.1", path = "../../crates/clients/tangle", default-features = false, features = ["std"] }
blueprint-tangle-extra = { version = "0.1.1", path = "../../crates/tangle-extra", features = ["std"] }
blueprint-tangle-aggregation-svc = { version = "0.1.0", path = "../../crates/tangle-aggregation-svc", default-features = false }
blueprint-crypto-bn254 = { version = "0.1.0-alpha.9", path = "../../crates/crypto/bn254", default-features = false }
blueprint-crypto-core = { version = "0.1.0-alpha.9", path = "../../crates/crypto/core", default-features = false }
blueprint-faas = { version = "0.1.0-alpha.1", path = "../../crates/blueprint-faas", default-features = false }
blueprint-profiling = { version = "0.1.0-alpha.1", path = "../../crates/blueprint-profiling", default-features = false }
tokio = { version = "^1", default-features = false }
tower = { version = "0.5.2", default-features = false }
tracing-subscriber = { version = "0.3", default-features = false }

anyhow = { version = "1.0.99", default-features = false }
color-eyre = { version = "0.6", default-features = false }
axum = { version = "0.8", default-features = false }

serde = { version = "1.0", default-features = false }
serde_json = { version = "1.0", default-features = false }
bytes = { version = "1.10.1", default-features = false }

alloy-sol-types = { version = "1.2.1", default-features = false }
alloy-primitives = { version = "1.2.1", default-features = false }

rand = { version = "0.8.5", default-features = false }
hex = { version = "0.4.3", default-features = false }

ark-bn254 = { version = "0.5.0", default-features = false }
ark-ec = { version = "0.5.0", default-features = false }
ark-ff = { version = "0.5.0", default-features = false }
ark-serialize = { version = "0.5.0", default-features = false, features = ["derive"] }
serial_test = { version = "3.2", default-features = false }
reqwest = { version = "0.12", default-features = false }

[lints]
workspace = true
