[workspace]
resolver = "3"
members = ["incredible-squaring-lib", "incredible-squaring-bin"]

[workspace.package]
version = "0.1.1"
description = "An experimental blueprint"
edition = "2024"
rust-version = "1.88"

[workspace.dependencies]
incredible-squaring-blueprint-lib = { path = "incredible-squaring-lib" }

# SDKs
blueprint-sdk = { version = "0.1.0-alpha.22", path = "../../crates/sdk", default-features = false }

# Testing utilities
blueprint-anvil-testing-utils = { version = "0.1.0-alpha.21", path = "../../crates/testing-utils/anvil", default-features = false }

# Clients
blueprint-client-tangle-evm = { version = "0.1.0", path = "../../crates/clients/tangle-evm", default-features = false, features = ["std"] }

# Extras
blueprint-tangle-evm-extra = { version = "0.1.0", path = "../../crates/tangle-evm-extra", features = ["std"] }
blueprint-tangle-aggregation-svc = { version = "0.1.0", path = "../../crates/tangle-aggregation-svc", default-features = false }

# Crypto
blueprint-crypto-bn254 = { version = "0.1.0-alpha.9", path = "../../crates/crypto/bn254", default-features = false }
blueprint-crypto-core = { version = "0.1.0-alpha.9", path = "../../crates/crypto/core", default-features = false }

# Async & Runtime
tokio = { version = "^1", default-features = false }
tower = { version = "0.5.2", default-features = false }
tracing-subscriber = { version = "0.3", default-features = false }

# Error Handling & Logging
anyhow = { version = "1.0.99", default-features = false }
color-eyre = { version = "0.6", default-features = false }

# Networking & HTTP
axum = { version = "0.8", default-features = false }

# Data Structures & Serialization
serde_json = { version = "1.0", default-features = false }
bytes = { version = "1.10.1", default-features = false }

# Alloy (EVM)
alloy-sol-types = { version = "1.2.1", default-features = false }
alloy-primitives = { version = "1.2.1", default-features = false }

# Cryptography & Blockchain
rand = { version = "0.8.5", default-features = false }
hex = { version = "0.4.3", default-features = false }

# Arkworks
ark-bn254 = { version = "0.5.0", default-features = false }
ark-ec = { version = "0.5.0", default-features = false }
ark-ff = { version = "0.5.0", default-features = false }
ark-serialize = { version = "0.5.0", default-features = false, features = ["derive"] }
