[workspace]
resolver = "2"
members = ["incredible-squaring-lib", "incredible-squaring-bin"]

[workspace.package]
version = "0.1.1"
description = "An experimental blueprint"
edition = "2024"
rust-version = "1.85"

[workspace.dependencies]
incredible-squaring-blueprint-lib = { path = "incredible-squaring-lib" }

blueprint-sdk = { path = "../../crates/sdk", default-features = false }
blueprint-faas = { path = "../../crates/blueprint-faas", default-features = false }
blueprint-profiling = { path = "../../crates/blueprint-profiling", default-features = false }
tokio = { version = "^1", default-features = false }
color-eyre = "0.6"
tower = { version = "0.5.2", default-features = false }
tracing-subscriber = { version = "0.3", features = ["env-filter"] }
serde_json = "1"
alloy-sol-types = "0.8"
bytes = "1"

# Test dependencies
axum = { version = "0.8", default-features = false }
serial_test = "3.2"
reqwest = { version = "0.12", default-features = false }
serde = { version = "1.0", default-features = false }
