[package]
name = "blueprint-client-tangle"
version = "0.1.0-alpha.1"
description = "Tangle client for Tangle Blueprints"
authors.workspace = true
edition.workspace = true
license.workspace = true
homepage.workspace = true
repository.workspace = true
rust-version.workspace = true

[lints]
workspace = true

[dependencies]
blueprint-runner = { workspace = true, features = ["tangle"] }
blueprint-core = { workspace = true }
blueprint-std = { workspace = true }
blueprint-client-core = { workspace = true }
blueprint-keystore = { workspace = true }
blueprint-crypto-sp-core = { workspace = true }

auto_impl = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true, features = ["alloc"] }
sp-core = { workspace = true }
tangle-subxt = { workspace = true }
thiserror = { workspace = true }
tokio = { workspace = true }

[features]
default = ["std", "tracing"]
std = [
	"blueprint-runner/std",
	"blueprint-client-core/std",
	"blueprint-keystore/std",
	"blueprint-std/std",
	"serde/std",
	"serde_json/std",
	"sp-core/std",
	"tangle-subxt/std",
]
web = [
	"tangle-subxt/web"
]

tracing = ["blueprint-core/tracing"]
