[package]
name = "incredible-squaring-blueprint-bin"
version.workspace = true
edition.workspace = true
rust-version.workspace = true

[dependencies]
incredible-squaring-blueprint-lib.workspace = true

blueprint-sdk = { workspace = true, features = ["std", "tangle-evm"] }
tokio = { workspace = true, features = ["rt-multi-thread"] }
tower.workspace = true
tracing-subscriber.workspace = true

[build-dependencies]
serde_json.workspace = true
