[package]
name = "incredible-squaring-blueprint-bin"
version = "0.1.1"
edition.workspace = true
rust-version.workspace = true

[dependencies]
incredible-squaring-blueprint-lib.workspace = true
blueprint-sdk = { workspace = true, features = ["std", "tangle"] }
blueprint-faas = { workspace = true, features = ["custom"], optional = true }
tokio = { workspace = true, features = ["rt-multi-thread"] }
tower.workspace = true
tracing-subscriber.workspace = true

[features]
faas = ["dep:blueprint-faas", "blueprint-sdk/faas"]

[build-dependencies]
serde_json.workspace = true
incredible-squaring-blueprint-lib.workspace = true
blueprint-sdk = { workspace = true, features = ["macros", "build", "testing"] }
blueprint-profiling.workspace = true

[lints]
workspace = true
